:root {
  font-family: Overpass, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-clr: hsl(25, 97%, 53%);
  --white-clr: hsl(0, 0%, 100%);
  --light-grey-clr: hsl(217, 12%, 63%);
  --medium-grey-clr: hsl(216, 12%, 54%);
  --dark-blue-clr: hsl(213, 19%, 18%);
  --darker-blue-clr: hsl(216, 12%, 8%);

  --bold-400: 400;
  --bold-700: 700;
}

body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  min-height: 100vh;
}

p {
  font-size: 15px;
  font-weight: var(--bold-400);
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 1em;
  background-color: var(--darker-blue-clr);
}

.card-item {
  max-width: 375px;
  padding: 1em;
  border-radius: 2em;
  background-color: var(--dark-blue-clr);
}

/* Form CSS */
.form-items {
  font-weight: var(--bold-400);
  color: var(--light-grey-clr);
}

.form-items h2 {
  color: var(--white-clr);
}

.star-img {
  padding: 1em;
  background-color: var(--darker-blue-clr);
  border-style: none;
  border-radius: 50%;
}

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.rating-btn {
  padding: 1em 1.4em;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;

  color: var(--medium-grey-clr);
  background-color: var(--darker-blue-clr);
}

.rating-btn:hover {
  color: var(--white-clr);
  background-color: var(--medium-grey-clr);
}

.active {
  color: var(--white-clr) !important;
  background-color: var(--primary-clr) !important;
}

.submit-btn {
  width: 100%;
  height: 50px;
  margin-top: 1.5em;
  border-radius: 2em;
  border-style: none;
  cursor: pointer;
  font-weight: var(--bold-700);

  color: var(--primary-clr);
  background-color: var(--white-clr);
}

.submit-btn:hover {
  color: var(--white-clr);
  background-color: var(--primary-clr);
}

/* Confirm CSS */
.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
  color: var(--light-grey-clr);
}

.confirm-rating {
  color: var(--primary-clr);
  background-color: var(--darker-blue-clr);
  padding: 5px 10px;
  border-radius: 1em;
}

.confirm h2 {
  margin: 0;
  padding: 0;
  color: var(--white-clr);
}

@media screen and (min-width: 480px) {
  .rating-container {
    padding: 0;
  }

  .card-item {
    padding: 2em;
  }
}
